
* {
    background-color: rgb(208, 202, 202);

}
.container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
   max-width: 50%;
margin-top: 70px ;

}

.answer-choices {
    list-style: none;

}


.timer {
    text-align: right;
}

header {
    display: flex ;
    justify-content: space-between;
}

.btn {
    border-radius: 5px ;
    padding: 5px ;
    margin-bottom: 4px;
    background-color: rgba(25, 25, 217, 0.392);
    font-size: 16px;
}